.termsModal {
  background: rgba(0, 0, 0, 0.5);
  overflow-y: auto !important;
  z-index: 999999 !important;

  .modal-dialog {

    max-width: 650px !important;
    border-radius: 20px !important;

    .modal-content {

      border-radius: 20px !important;

      .wrapper-sign-in-up-component {
        border-radius: 20px !important;
      }
    }
  }
}

/* ======================================================================================
*****************************************************************************************
=========================================================================================
ARABIC STYLE START
=========================================================================================
*****************************************************************************************
====================================================================================== */
.wrapper-terms-lang-ar {
  direction: rtl;
  text-align: right;



  .modal-header {
    .modal-title {
      padding-top: 5px !important;
    }

    .col-cross-icon {
      text-align: left;
      padding: 0;

      .cross-icon {
        font-size: 20px;
        margin-top: 12px;
      }

      .cross-icon:hover {
        cursor: pointer;
      }
    }
  }

  .modal-footer {
    .btn-cancel {
      width: 48% !important;
      margin: 0 1%;
      padding: 10px;
      border-radius: 100px;
    }

    .btn-next {
      background: #00b5a9 !important;
      border: 1px solid #00b5a9;
      color: white;
      width: 48% !important;
      margin: 0 1%;
      padding: 10px;
      border-radius: 100px;
    }
  }

}

/* ======================================================================================
*****************************************************************************************
=========================================================================================
ARABIC STYLE END
=========================================================================================
*****************************************************************************************
====================================================================================== */



/* ======================================================================================
*****************************************************************************************
=========================================================================================
ENGLISH STYLE END
=========================================================================================
*****************************************************************************************
====================================================================================== */
.wrapper-terms-lang-en {
  direction: ltr;
  text-align: left;


  body {
    font-family: "HelveticaNeueLight";
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "HelveticaNeuelight";
  }

  p {
    font-family: "HelveticaNeuelight";
  }

  span {
    font-family: "HelveticaNeuelight";
  }

  a {
    font-family: "HelveticaNeuelight";
  }

  div {
    font-family: "HelveticaNeuelight";
  }

  input {
    font-family: "HelveticaNeuelight";

  }

  .modal-header {
    .modal-title {
      padding-top: 5px !important;
    }

    .col-cross-icon {
      text-align: right;
      padding: 0;

      .cross-icon {
        font-size: 20px;
        margin-top: 12px;
      }

      .cross-icon:hover {
        cursor: pointer;
      }

    }
  }

  .modal-footer {
    .btn-cancel {
      width: 48% !important;
      margin: 0 1%;
      padding: 10px;
      border-radius: 100px;
    }

    .btn-next {
      background: #00b5a9 !important;
      border: 1px solid #00b5a9;
      color: white;
      width: 48% !important;
      margin: 0 1%;
      padding: 10px;
      border-radius: 100px;
    }
  }
}

/* ======================================================================================
*****************************************************************************************
=========================================================================================
ENGLISH STYLE END
=========================================================================================
*****************************************************************************************
====================================================================================== */
