body {
  font-size: 200px !important;
}

.wrapper-sidebar {
  width: 300px !important;
  padding-right: 15px;
  padding-left: 15px;
}

.wrapper-contentBar {
  width: calc(100% - 300px) !important;
  background: #f1f1f1;

}

.trainer-main-router-outlet {
  min-height: 1000px;
  padding: 20px;
}
